<script type='text/javascript'></script>

<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>
	
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="slidingdoor" data-view="Stcontact" data-icon="lightbulb-o" data-title="Sliding Door" data-device="Sliding Door"></div>
    </li>
	
	<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="fanswitch" data-view="Stswitch" data-icon="lightbulb-o" data-title="Fan" data-device="Fan Switch"></div>
    </li>
	
	<li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="frontlock" data-view="Stlock" data-icon="lock" data-title="Front Door" data-device="Front Door Lock"></div>
    </li>
	
	<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="fanswitch" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Porch Light" data-device="Front Porch Light"></div>
    </li>
	
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="thermostat" data-view="Stthermostat" data-icon="thermometer-full" data-title="Thermostat" data-device="Thermostat"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>  	
	
	<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="occmode" data-view="Stmodechange" data-title="Home" data-icon="home" data-changemode="Home" data-phrase="I'm Back!" data-countdown="30"></div>
    </li>
	
	<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="unoccmode" data-view="Stmodechange" data-title="Away" data-icon="road" data-changemode="Away" data-phrase="Goodbye!" data-countdown="30"></div>
    </li>
	  
	<li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="morningmode" data-view="Stmodechange" data-title="Morning" data-icon="sun-o" data-changemode="Morning" data-phrase="Good Morning!" data-countdown="2"></div>
    </li>
	  
	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="kpresence" data-view="Stpresence" data-title="Kirstie" data-device="Kirstie's Android"></div>
    </li>
	
	<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ppresence" data-view="Stpresence" data-title="Phillip" data-device="Phillip's Android"></div>
    </li>
	  
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>	
	
  </ul>
</div>
