<script type='text/javascript'></script>

<% content_for :title do %>Sensors<% end %>

<div class="gridster">
  <ul>
   
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="slidingdoor" data-view="Stcontact" data-icon="lightbulb-o" data-title="Sliding Door" data-device="Sliding Door"></div>
    </li>
	
	
	  
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>	
	
  </ul>
</div>
